use flake
export DENO_DIR="$PWD/.deno"
export PATH="$PWD/.deno/bin:$PATH"
export PATH="$PWD/infra/bff/bin:$PATH"
export PATH="$PWD/node_modules/.bin:$PATH"
export BFF_ROOT="$PWD"
export PATH="$PATH:$BFF_ROOT/node_modules/.bin"
