use flake

# Should only be used on laptops / non replit setups
export INFRA_BIN_PATH="$PWD/infra/bin"
export PATH="$INFRA_BIN_PATH:$PATH"
export DENO_TRACE_PERMISSIONS="1"
export DENO_NO_UPDATE_CHECK="1"
export OTEL_EXPORTER_OTLP_HEADERS="authorization=$HYPERDX_INGESTION_KEY"
export OTEL_EXPORTER_OTLP_ENDPOINT="https://in-otel.hyperdx.io"
export OTEL_SERVICE_NAME="CONTENT_FOUNDRY"
export BF_ENV="DEVELOPMENT"