[submodule "content/contentfoundry.com"]
	path = sites/contentfoundry.com
	url = https://github.com/content-foundry/contentfoundry.com.git
[submodule "content/biglittletech.ai"]
	path = sites/biglittletech.ai
	url = https://github.com/content-foundry/biglittletech.ai.git
[submodule "content/randallb.com"]
	path = sites/randallb.com
	url = https://github.com/randallb/randallb.com.git
