[submodule "thirdParty/ffmpeg"]
	path = thirdParty/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "thirdParty/thirdParty/daily-vcs"]
	path = thirdParty/thirdParty/daily-vcs
	url = https://github.com/daily-co/daily-vcs.git
