:root {
  /* concave inverted radius corners  */
  --concave: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6'%3E%3Cpath d='M6 6H0C3.314 6 6 3.314 6 0V6Z' fill='var(--alwaysDark)'/%3E%3C/svg%3E");
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.AppSidebar {
  width: 250px;
  padding: 10px;
  background: var(--alwaysDark);
  position: relative;
  box-sizing: border-box;
  transition: 250ms margin-left ease;
  margin-left: -240px; /* show 10px */
}
.AppSidebar.active {
  margin-left: 0;
}
.sidebarButton {
  cursor: poiter;
  position: absolute;
  top: 16px;
  right: -16px;
  background: var(--alwaysDark);
  display: inline-flex;
  padding: 6px;
  border-radius: 0 8px 8px 0;
}
.sidebarButton::before,
.sidebarButton::after {
  content: "";
  position: absolute;
  left: 12px;
  width: 6px;
  height: 6px;
  background-color: transparent;
  background-image: var(--concave);
}
.sidebarButton::before {
  top: -6px;
  transform: rotate(90deg);
}
.sidebarButton::after {
  bottom: -6px;
  transform: rotate(180deg);
}
.AppContent {
  flex: 1;
}

.appPage {
  height: 100vh;
  background: var(--pageBackground) url(/static/assets/images/bf-symbol-angle-right_bw.jpg) no-repeat 0% 100% / auto 110%;
  background-blend-mode: multiply;
}
.appHeader {
  padding: 12px;
}
.appHeaderCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.appHeaderWelcomer {
  font-size: 24px;
}
.appHeaderLogo {
  width: 100%;
  max-width: 450px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.videoPlayer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #424242;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}/* ContentOS */
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  width: 350px;
  padding: 12px;
}


/* VoiceSetup */
.voice-container {
  display: flex;
  justify-content: center;
  flex:1;
  align-items: center;
}

.voice-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 20px 48px;
}
.voice-section-header {
  display: flex;
  gap: 10px;
}
.voice-section h2 {
  font-family: var(--marketingFontFamily);
  font-size: 2.5em;
  margin: 0;
}
.voice-section-text,
.voice-section-voice-style {
  text-align: left;
  color: var(--textMarketing);
}
.voice-section-voice-style {
  border-radius: 10px;
  padding: 15px;
  background-color: var(--text015);
}
.voice-section-voice-style.highlight{
  background-color: var(--fourtharyColor015);
}


/* Editor */
.editor-container{
  /* background-color: var(--background);
  height: 100vh; */
}
.brand-voice {
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
}
.left-side-bar{
  background-color: var(--pageBackground);
  min-width: 320px;
  flex:0;
  border-right: 1px solid var(--border);
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  gap: 16px;
}
.sidebar-header {

}
.sidebar-logo {
  padding: 24px;
}
.instructions {
  border-top: 1px solid var(--border);
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--fourtharyColor015);
  border-radius: 10px;
  margin: 0 20px;
}
.instructions-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: -8px;
}
.text-editor{
  flex:1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.right-side-bar{
  background-color: var(--pageBackground);
  min-width: 250px;
  border-left: 1px solid var(--border);
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
.editor-actions {
  padding: 12px 20px;
  border-top: 1px solid var(--border);
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  background: var(--alwaysDark);
}


/* Revisions */
.revision {
  position: relative;
  margin-bottom: 1.5em;
}
.revision-content {
  background: var(--fourtharyColor015);
  padding: 14px;
  border: 1px solid var(--fourtharyColor030);
  border-radius: 6px;
}
.revision-header {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--fourtharyColor);
  margin-bottom: 0.4em;
}
.revision-text {
  margin-right: 25px;
}
.revision-actions {
  position: absolute;
  top: -12px;
  right: 6px;
  background: var(--background);
  border: 1px solid var(--fourtharyColor030);
  border-top-color: transparent;
  border-radius: 0 0 6px 6px;
}
.revision-explanation-button {
  position: absolute;
  right: 6px;
  bottom: 2px;
}
.revision-explanation {
  background: var(--background);
  padding: 8px;
  font-size: 0.8em;
  border: 1px solid var(--fourtharyColor030);
  border-radius: 6px;
}

/* Twitter Ideator */
.line-separator-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--textSecondary);
  align-items: center;
  gap: 5px;
}

.line {
  flex: 1;
  height: 1px;
  background: var(--textSecondary);
}

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 0 20px;
}

.user-handle {
  color: var(--textSecondary);
  font-size: .8em;
}

.user-card-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--border);
}
.steps{
  gap: 10px;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border);
}
.step {
  gap: 5px;
}
.step-number{
  background-color: var(--textSecondary015);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}
.step-number-highlight{
  color: white;
  background-color: var(--fourtharyColor);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}

/* CURRENT EVENTS */
.current-events-container {
  padding: 20px 48px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}
.current-event-section {
  margin-bottom: 30px;
}
.current-events-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.current-events-header-container-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subpageHeaderRoute {
  color: var(--textSecondary);
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
.current-events-header {
  display:flex;
  font-family: var(--marketingFontFamily);
  font-weight: normal;
  font-size: 42px;
  line-height: 1em;
  margin: 0;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 110px;
  background-color: var(--textSecondary);
  border: 1px solid var(--border);
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
}

.card:hover{
  border: 1px solid var(--secondaryColor);
}

.image-card {
  background: url('/path-to-super-bowl-image.jpg') center/cover no-repeat;
  color: white;
  font-weight: bold;
}

.card .headline {
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}
.headline .text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* CURRENT EVENT CHOSEN PAGE */

.current-event-page-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.current-events-page-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

.info-section {
  width: 48%;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

.current-event-section {
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.header-image {
  width: 96px;
  height: 102px;
  border-radius: 8px;
  background: linear-gradient(to top, #ddd, #fff);
}

.compose-section {
  background: #333;
  color: white;
  padding: 24px 48px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compose-text {
  margin-bottom: 10px;
}

/* WORKSHOPPING  */
.container {
 padding:10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.original-section {
  margin-bottom: 20px;
}

.original-text {
  background: var(--textSecondary015);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestions-section {
  margin-bottom: 20px;
}

.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.suggestion-container {
  gap: 4px;
  align-items: baseline;
}

.suggestion-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.suggestion-card {
  background: var(--fourtharyColor015);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex:1;
}

.suggestion-header {
  display: flex;
  align-items: center;
}

.thumbs {
  font-size: 18px;
}

.suggestion-number {
  font-weight: bold;
  font-family: var(--marketingFontFamily);
  font-size: 36px;
  min-width: 1em;
  text-align: center;
}

.suggestion-text {
  font-size: 16px;
}

.suggestion-details {
  font-size: 14px;
  background: var(--pageBackground);
  border: 1px solid var(--border);
  padding: 20px 32px;
  border-radius: 6px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.suggestion-details-close {
  position: absolute;
  top: -1px;
  right: -1px;
}
.suggestion-details-explanation-title {
  margin-bottom: 4px;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #333;
  padding: 16px;
  color: var(--textSecondary);
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.engagement-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.engagement-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-family: var(--fontFamilyMono);
}

/* SESSIONS */
.session-container {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

/* REVISIONS  */
.revision-item-original-text {
  position: relative;
  font-size: 0.8em;
}
.revision-item-original-text.collapsed {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.revision-item-instruction {
  background: var(--background);
  border: 1px solid var(--primaryColor015);
  border-left: 4px solid var(--primaryColor);
  padding: 4px 8px;
  margin: 2px 0;
}
.revisions-container {
  max-width: 300px;
}

.revision-item-title {
  
}

.revision-item-title.done {
  color: var(--textSecondary);
}

.revision-item-subtitle {
  font-weight: 500;
}
.revision-item-small-title {
  font-weight: 500;
  font-size: 0.9em;
}

.revision-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.revision-box {
  background: var(--background);
  border: 1px solid var(--secondaryColor015);
  border-left: 4px solid var(--secondaryColor);
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 2px 0 8px;
}
.revision-item-explanation {
  font-size: 0.8em;
  border: 1px solid var(--border);
  background: var(--background);
  padding: 8px;
  border-radius: 8px;
  margin: 8px 0;
}

/* CONTENT */
.content-item {
  padding: 14px;
}


/* EDITOR */
/**
 * Copyright (c) Meta Platforms, Inc. and affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 *
 */

.editor-text-underlined {
  text-decoration: underline;
  cursor: pointer;
}

.editor-text-highlighted {
  background-color: yellow;
}

/* Custom node styles */
[data-lexical-node="underlined"] {
  text-decoration: underline;
  cursor: pointer;
}

[data-lexical-node="underlined"][data-highlighted="true"] {
  background-color: yellow;
}

body {
  margin: 0;
  background: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.other h2 {
  font-size: 18px;
  color: #444;
  margin-bottom: 7px;
}

.other a {
  color: #777;
  text-decoration: underline;
  font-size: 14px;
}

.other ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-inner {
  background: #fff;
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

i.undo {
  background-image: url(icons/arrow-counterclockwise.svg);
}

i.redo {
  background-image: url(icons/arrow-clockwise.svg);
}

i.bold {
  background-image: url(icons/type-bold.svg);
}

i.italic {
  background-image: url(icons/type-italic.svg);
}

i.underline {
  background-image: url(icons/type-underline.svg);
}

i.strikethrough {
  background-image: url(icons/type-strikethrough.svg);
}

i.left-align {
  background-image: url(icons/text-left.svg);
}

i.center-align {
  background-image: url(icons/text-center.svg);
}

i.right-align {
  background-image: url(icons/text-right.svg);
}

i.justify-align {
  background-image: url(icons/justify.svg);
}


.Button__root {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.Button__root:hover {
  background-color: #ddd;
}
.Button__small {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}
.Button__disabled {
  cursor: not-allowed;
}
.Button__disabled:hover {
  background-color: #eee;
}
/**
 * Copyright (c) Meta Platforms, Inc. and affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 *
 *
 */

.Modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(40, 40, 40, 0.6);
  flex-grow: 0px;
  flex-shrink: 1px;
  z-index: 100;
}
.Modal__modal {
  padding: 20px;
  min-height: 100px;
  min-width: 300px;
  display: flex;
  flex-grow: 0px;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 20px 0 #444;
  border-radius: 10px;
}
.Modal__title {
  color: #444;
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.Modal__closeButton {
  border: 0px;
  position: absolute;
  right: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
}
.Modal__closeButton:hover {
  background-color: #ddd;
}
.Modal__content {
  padding-top: 20px;
}
.Placeholder__root {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  right: 10px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.ContentEditable__root {
  min-height: 150px;
  border: 0;
  resize: none;
  cursor: text;
  font-size: 15px;
  display: block;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 10px;
  overflow: auto;
  resize: vertical;
}


.PlaygroundEditorTheme__ltr {
  text-align: left;
}
.PlaygroundEditorTheme__rtl {
  text-align: right;
}
.PlaygroundEditorTheme__paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}
.PlaygroundEditorTheme__paragraph:last-child {
  margin-bottom: 0;
}
.PlaygroundEditorTheme__quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}
.PlaygroundEditorTheme__h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
.PlaygroundEditorTheme__h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}
.PlaygroundEditorTheme__h3 {
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}
.PlaygroundEditorTheme__textBold {
  font-weight: bold;
}
.PlaygroundEditorTheme__textItalic {
  font-style: italic;
}
.PlaygroundEditorTheme__textUnderline {
  text-decoration: underline;
}
.PlaygroundEditorTheme__textStrikethrough {
  text-decoration: line-through;
}
.PlaygroundEditorTheme__textUnderlineStrikethrough {
  text-decoration: underline line-through;
}
.PlaygroundEditorTheme__textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.PlaygroundEditorTheme__textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.PlaygroundEditorTheme__textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.PlaygroundEditorTheme__hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.PlaygroundEditorTheme__link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}
.PlaygroundEditorTheme__link:hover {
  text-decoration: underline;
}
.PlaygroundEditorTheme__code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}
.PlaygroundEditorTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.PlaygroundEditorTheme__table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  overflow-y: scroll;
  table-layout: fixed;
  width: 100%;
}
.PlaygroundEditorTheme__tableCell {
  border: 1px solid black;
  padding: 6px 8px;
  min-width: 75px;
  vertical-align: top;
  text-align: start;
}
.PlaygroundEditorTheme__tableCellHeader {
  background-color: #f2f3f5;
  text-align: start;
}
.PlaygroundEditorTheme__characterLimit {
  display: inline;
  background-color: #ffbbbb !important;
}
.PlaygroundEditorTheme__ol1 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol2 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: upper-alpha;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol3 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: lower-alpha;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol4 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: upper-roman;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol5 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: lower-roman;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-position: inside;
}
.PlaygroundEditorTheme__listItem {
  margin: 8px 32px;
}
.PlaygroundEditorTheme__listItemChecked,
.PlaygroundEditorTheme__listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.PlaygroundEditorTheme__listItemChecked {
  text-decoration: line-through;
}
.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.PlaygroundEditorTheme__listItemUnchecked[dir='rtl']:before,
.PlaygroundEditorTheme__listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.PlaygroundEditorTheme__listItemUnchecked:focus:before,
.PlaygroundEditorTheme__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.PlaygroundEditorTheme__listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.PlaygroundEditorTheme__listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}
.PlaygroundEditorTheme__listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.PlaygroundEditorTheme__nestedListItem {
  list-style-type: none;
}
.PlaygroundEditorTheme__nestedListItem:before,
.PlaygroundEditorTheme__nestedListItem:after {
  display: none;
}
.PlaygroundEditorTheme__tokenComment {
  color: slategray;
}
.PlaygroundEditorTheme__tokenPunctuation {
  color: #999;
}
.PlaygroundEditorTheme__tokenProperty {
  color: #905;
}
.PlaygroundEditorTheme__tokenSelector {
  color: #690;
}
.PlaygroundEditorTheme__tokenOperator {
  color: #9a6e3a;
}
.PlaygroundEditorTheme__tokenAttr {
  color: #07a;
}
.PlaygroundEditorTheme__tokenVariable {
  color: #e90;
}
.PlaygroundEditorTheme__tokenFunction {
  color: #dd4a68;
}
.PlaygroundEditorTheme__mark {
  background: transparent;
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}
.PlaygroundEditorTheme__markOverlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.PlaygroundEditorTheme__mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}
.PlaygroundEditorTheme__markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.PlaygroundEditorTheme__embedBlock {
  user-select: none;
}
.PlaygroundEditorTheme__embedBlockFocus {
  outline: 2px solid rgb(60, 132, 244);
}

.ExampleEditorTheme__paragraph {
  margin: 0;
  position: 'relative';
}


/**
 * Example style
 */

.ContentFoundryPlugin_AddExampleBox {
  display: block;
  position: fixed;
  border-radius: 20px;
  background-color: white;
  width: 40px;
  height: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.ContentFoundryPlugin_AddExampleBox_button {
  border-radius: 20px;
  border: 0;
  background: none;
  width: 40px;
  height: 60px;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.ContentFoundryPlugin_AddExampleBox_button:hover {
  background-color: #f6f6f6;
}

i.add-example {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -10px;
  background-image: url(../images/icons/chat-left-text.svg);
}

.ContentFoundryPlugin_ExampleInputBox {
  display: block;
  position: fixed;
  width: 250px;
  min-height: 80px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 24;
  animation: show-input-box 0.4s ease;
  top: 0;
}

.ContentFoundryPlugin_ExampleInputBox::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 0.5em;
  right: -1em;
  top: 0;
  left: calc(50% + 0.25em);
  box-sizing: border-box;
  border: 0.5em solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
}

@keyframes show-input-box {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ContentFoundryPlugin_ExampleInputBox_Buttons {
  display: flex;
  flex-direction: row;
  padding: 0 10px 10px 10px;
  gap: 10px;
}

.ContentFoundryPlugin_ExampleInputBox_Button {
  flex: 1;
}

.ContentFoundryPlugin_ExampleInputBox_Button.primary {
  background-color: rgb(66, 135, 245);
  font-weight: bold;
  color: #fff;
}

.ContentFoundryPlugin_ExampleInputBox_Button.primary:hover {
  background-color: rgb(53, 114, 211);
}

.ContentFoundryPlugin_ExampleInputBox_Button[disabled] {
  background-color: #eee;
  opacity: 0.5;
  cursor: not-allowed;
  font-weight: normal;
  color: #444;
}

.ContentFoundryPlugin_ExampleInputBox_Button[disabled]:hover {
  opacity: 0.5;
  background-color: #eee;
}

.ContentFoundryPlugin_ExampleInputBox_EditorContainer {
  position: relative;
  margin: 10px;
  border-radius: 5px;
}

.ContentFoundryPlugin_ExampleInputBox_Editor {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  display: block;
  padding: 9px 10px 10px 9px;
  min-height: 80px;
}

.ContentFoundryPlugin_ExampleInputBox_Editor:focus {
  outline: 1px solid rgb(66, 135, 245);
}

.ContentFoundryPlugin_ShowExamplesButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ddd;
  border-radius: 10px;
}

i.examples {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -10px;
  background-image: url(../images/icons/examples.svg);
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.ContentFoundryPlugin_ShowExamplesButton:hover i.examples {
  opacity: 1;
}

.ContentFoundryPlugin_ShowExamplesButton.active {
  background-color: #ccc;
}

.ContentFoundryPlugin_ExamplesPanel {
  position: fixed;
  right: 0;
  width: 300px;
  height: calc(100% - 88px);
  top: 88px;
  background-color: #fff;
  border-top-left-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: show-examples 0.2s ease;
  z-index: 25;
}

@keyframes show-examples {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.ContentFoundryPlugin_ExamplesPanel_Heading {
  padding-left: 15px;
  padding-top: 10px;
  margin: 0;
  height: 34px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  display: block;
  width: 100%;
  color: #444;
  overflow: hidden;
}

.ContentFoundryPlugin_ExamplesPanel_Editor {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  display: block;
  padding: 9px 10px 10px 9px;
  min-height: 20px;
}

.ContentFoundryPlugin_ExamplesPanel_Editor::before {
  content: '';
  width: 30px;
  height: 20px;
  float: right;
}

i.send {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -10px;
  background-image: url(../images/icons/send.svg);
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.ContentFoundryPlugin_ExamplesPanel_Empty {
  color: #777;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: calc(50% - 15px);
  margin: 0;
  padding: 0;
  width: 100%;
}

.ContentFoundryPlugin_ExamplesPanel_List {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 45px;
  overflow-y: auto;
}

.ContentFoundryPlugin_ExamplesPanel_List_Example {
  font-size: 14px;
  border-radius: 6px 0 0 6px;
  margin-bottom: 2px;
}
.ContentFoundryPlugin_ExamplesPanel_List_Example .star {
  align-self: stretch;
  padding: 2px;
  border-radius: 6px 0 0 6px;
}

.ContentFoundryPlugin_ExamplesPanel_List_Details {
  padding: 4px 0;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread {
  padding: 0 0 0 0;
  margin: 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  position: relative;
  transition: all 0.2s linear;
  border-left: 0 solid var(--border);
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread:first-child,
.ContentFoundryPlugin_ExamplesPanel_List_Thread
  + .ContentFoundryPlugin_ExamplesPanel_List_Thread {
  border-top: none;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread.interactive {
  cursor: pointer;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread.interactive:hover {
  background-color: #fafafa;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread.active {
  background-color: #fafafa;
  border-left: 15px solid #eee;
  cursor: inherit;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread_QuoteBox {
  padding-top: 10px;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread_Quote {
  margin: 0px 12px;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread_Examples {
  padding-left: 10px;
  list-style-type: none;
}

.ContentFoundryPlugin_ExamplesPanel_List_Thread_Editor {
  position: relative;
  padding-top: 1px;
}
