.landing-content {
  padding: 16px 24px;
  width: min(100%, 80rem);
  box-sizing: border-box;
  margin: 0 auto;
}
.landing-page p {
  font-size: 1.3em;
}

header.landing-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  background: var(--background060);
  z-index: 1000;
}
h1.hero-headline {
  font-size: 4em;
  font-family: var(--marketingFontFamily);
  font-weight: 400;
  line-height: 1;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}
h2.substack-title {
  font-family: var(--marketingFontFamily);
  font-size: 3em;
  line-height: 1;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}

.hero-section {
  background: url(/static/assets/images/bf-symbol-angle-left-1000_crop.png) no-repeat 100% center / contain;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  box-sizing: border-box;
  justify-content: flex-end;
}
.hero-content {
  width: 50%;
  height: 100%;
  align-items: start;
}

.substack-section {
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

code.npm-command {
  background: var(--text010);
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.more-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
