.landing-content {
  padding: 16px 24px;
  width: min(100%, 80rem);
  box-sizing: border-box;
  margin: 0 auto;
}
.landing-page p,
.landing-page ul {
  font-size: 1.3em;
}
.landing-page a {
  color: var(--text);
  font-weight: bold;
}
.landing-page a:hover {
  color: var(--primaryColor);
}
.landing-page h1 {
  font-size: 4em;
  font-family: var(--marketingFontFamily);
  font-weight: 400;
  line-height: 1;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}
.landing-page h2 {
  font-family: var(--marketingFontFamily);
  font-size: 3em;
  line-height: 1;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}
.landing-page h3 {
  font-size: 1.5em;
  margin-block-start: 0.1em;
}

.header-logo {
  height: 24px;
}

.sidebar-nav {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid var(--primaryColor);
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
  background: var(--background);
  width: 150px;
  padding: 16px 24px;
  z-index: 1001;
}

header.landing-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  background: var(--background060);
  z-index: 1000;
}

.hero-section {
  background: url(/static/assets/images/bf-symbol-angle-left-1000_black_wide.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  box-sizing: border-box;
  justify-content: flex-end;
}
.hero-content {
  width: 50%;
  height: 100%;
  align-items: start;
}

.substack-section {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background: var(--text005);
  border-top: 1px solid var(--border);
  position: relative;
  text-align: center;
}

.docs-section {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  position: relative;
}
.docs-section h2 {
  margin-block-start: 1em;
}

.npm-command-container {
  justify-content: start;
}
code.npm-command {
  background: var(--text010);
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.more-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.landing-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--border);
  background: var(--pageBackground);
  text-align: left;
  color: var(--text060);
}

@media (max-width: 649px) {
  .hero-section {
    background: radial-gradient(var(--text030), transparent 60%);
    justify-content: center;
    text-align: center;
  }
  .hero-content {
    width: 100%;
  }
  .npm-command-container {
    justify-content: center;
  }
}

/* @media (max-width: 799px) {
  .hero-section {
    background: url(/static/assets/images/bf-symbol-angle-left-1000_black_crop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 170% center;
  }
}

@media (max-width: 999px) {
  .hero-section {
    background: url(/static/assets/images/bf-symbol-angle-left-1000_black_crop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 130% center;
  }
} */
